---
import 'src/styles/reset.scss';
import 'src/styles/globals.scss';
import '@fontsource-variable/inter';
import { execSync } from 'node:child_process';
import Header from 'src/components/header.astro';
import { isValidTheme } from 'src/utils/theme';

function getInitialTheme() {
  const preferredTheme = Astro.cookies.get('theme')?.value;
  return isValidTheme(preferredTheme) ? preferredTheme : 'light';
}

const version =
  process.env.VERCEL_GIT_COMMIT_SHA?.slice(0, 7) ??
  execSync('git log -1 --pretty=format:%h').toString().trim();
const isVercelDomain = Astro.url.hostname.includes('.vercel.app');
const isAnalyticsEnabled = import.meta.env.PROD && !isVercelDomain;
const theme = getInitialTheme();
---

<html lang="zh-Hant-TW" data-theme={theme}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="head" />
    <link rel="icon" href={`/favicon.ico?v=${version}`} sizes="32x32" />
    <link rel="icon" href={`/icon.svg?v=${version}`} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={`/apple-touch-icon.png?v=${version}`} />
    <link rel="manifest" href={`/manifest.webmanifest?v=${version}`} />
    {
      isAnalyticsEnabled && (
        <script
          is:inline
          async
          data-token={import.meta.env.PUBLIC_BEAM_ANALYTICS_TOKEN}
          src={import.meta.env.PUBLIC_BEAM_ANALYTICS_SCRIPT}
        />
      )
    }
  </head>
  <body>
    <div id="root">
      <Header />
      <slot />
    </div>
  </body>
</html>

<style lang="scss">
  @import '../styles/variables.scss';

  div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 18px 20px;

    @supports (min-height: 100dvh) {
      min-height: 100dvh;
    }
    @media (min-width: $tablet-min-width) {
      padding: 60px;
      max-width: 754px;
      margin: 0 auto;
    }
  }
</style>
