---
import 'src/styles/reset.scss';
import 'src/styles/globals.scss';
import '@fontsource-variable/inter';
import inter from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2';
import Header from 'src/components/header.astro';
import ProductionOnly from 'src/components/production-only.astro';
import { siteVersion } from 'src/constants/site';
import Analytics from 'src/scripts/analytics.astro';
import SpeedInsights from 'src/scripts/speed-insights.astro';
import ThemeLoader from 'src/scripts/theme-loader.astro';
---

<html lang="zh-Hant-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="" />
    <slot name="head" />
    <link rel="icon" href={`/favicon.ico?v=${siteVersion}`} sizes="32x32" />
    <link rel="icon" href={`/icon.svg?v=${siteVersion}`} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={`/apple-touch-icon.png?v=${siteVersion}`} />
    <link rel="manifest" href={`/manifest.webmanifest?v=${siteVersion}`} />
    <link rel="preload" href={inter} as="font" type="font/woff2" crossorigin />
    <ThemeLoader />
    <ProductionOnly>
      <Analytics />
      <SpeedInsights />
    </ProductionOnly>
  </head>
  <body>
    <div id="root">
      <Header />
      <slot />
    </div>
  </body>
</html>

<style lang="scss">
  @import '../styles/variables.scss';

  div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 18px 20px;

    @supports (min-height: 100dvh) {
      min-height: 100dvh;
    }
    @media (min-width: $tablet-min-width) {
      padding: 60px;
      max-width: 754px;
      margin: 0 auto;
    }
  }
</style>
